// Variables
$titleFont: 'Exo 2',
sans-serif;
$textFont: 'Montserrat',
sans-serif;
$linkColorTitle: #3c2f20;
$linkColor: #77716a;
$linkColorHover: #338033;
$backgroundColor: #818181;
$backgroundColorDarken: #d6d5cb;
$backgroundColorLogo: #f5f3e8;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  font-family: $textFont;
  font-weight: 300;
  background-color: $backgroundColor;

  a {
    color: $linkColor;
    text-decoration: none;
  }

  a:hover {
    cursor: pointer;
  }
}

%button {
  cursor: pointer;
  display: block;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;

  border-radius: 5px;
  border: 2px solid $linkColorHover;
  background: $linkColorHover;
  font-weight: bold;
  outline: none;
  transition: 0.6s;

  & a {
    text-align: center;
    display: block;
    color: white;
    padding: 15px 20px;
    transition: .5s;

    &:hover {
      color: $linkColorHover;
    }
  }

  &:hover {
    color: $linkColorHover;
    border: 2px solid $linkColorHover;
    background: none;
  }
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.section__outer {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
  background-color: white;
}

.main__content {
  padding: 0 130px;
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 20px;

    &--title h1 {
      font-size: 35px;
      font-family: $titleFont;
      font-weight: 500;
      margin-bottom: 7px;
    }

    &--links {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .links {
        display: flex;
        flex-direction: row;
      }

      .button {
        @extend %button;
        width: 200px;
        margin-right: 5px;
      }

      .login {
        width: 120px;
      }

      .account {
        width: 140px;
      }

      .back {
        font-weight: 1000;
        font-size: 25px;
        width: 50px;

        & a {
          line-height: 18px;
        }
      }

      ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;
        text-align: center;

        li {
          background-color: $backgroundColorLogo;
          height: 53px;
          width: 130px;
          transition: .6s;
          margin-right: 5px;
          border-radius: 5px;

          &:hover {
            background-color: $backgroundColorDarken;
          }
        }

        li a {
          font-weight: bold;
          display: block;
          padding: 17px 20px;

          &:hover {
            color: $linkColorHover;
          }
        }

        li:last-child {
          margin-right: 0px;
        }
      }
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &--item {
      flex-basis: 300px;
      margin-right: 20px;
      border-radius: 5px;
      transition: .5s;
      margin-bottom: 20px;
      max-height: 370px;

      .item__image {
        margin-bottom: 5px;

        & img {
          border-radius: 5px;
        }
      }

      .item__disciption {
        margin-bottom: 20px;

        &--class {
          font-size: 13px;
          line-height: 20px;
        }

        &--title {
          margin-bottom: 5px;

          a {
            color: $linkColorTitle;
            font-family: $titleFont;

            font-weight: 500;
            font-size: 28px;
            line-height: 22px;
          }

          a:hover {
            color: $linkColorHover;
          }

          .subtitle--year {
            font-size: 20px;
            line-height: 18px;
          }

          .subtitle--price {
            color: rgb(80, 15, 53);
            font-weight: bold;
            font-size: 26px;
            line-height: 18px;
          }
        }

        &--order {
          @extend %button;

          padding: 10px;
          background: none;
          height: 40px;
          border: 2px solid $linkColorHover;
          font-size: 14px;
          margin-bottom: 5px;
          color: $linkColorHover;
          transition: .5s;

          &:hover {
            color: white;
          }
        }

        &--order:focus {
          outline: none;
        }

        &--order:hover {
          background: #338033;
        }
      }

      &:nth-child(3n) {
        margin-right: 0;
      }

      &:hover {
        box-shadow: -15px -15px 15px rgba(255, 255, 255, .5),
        15px 15px 15px rgba(0, 0, 0, .1);
      }
    }

    &--info {
      width: 62.7%;

      .full__info,
      .rent__info {
        background: $backgroundColorLogo;
        padding: 10px 15px;
        color: $linkColorTitle;
        transition: .5s;
        margin-bottom: 10px;
        list-style: none;
        border-radius: 5px;
        font-size: 14px;
        transition: .5s;

        & .title {
          font-size: 20px;
          letter-spacing: 3px;
          line-height: 30px;
        }
      }

      ul li {
        padding: 10px 10px;
        margin: 5px 0;
        transition: .5s;

        &:hover {
          background: $backgroundColorDarken
        }

        &:last-child {
          font-size: 20px;
          font-weight: bold;
          color: $linkColorHover;
        }
      }
    }

    .personal img {
      height: 200px;
      width: auto;
      margin-right: 30px;
    }
  }

  &--register {

    & input[type=text],
    input[type=password] {
      width: 100%;
      padding: 15px;
      margin: 5px 0 22px 0;
      display: block;
      border: none;
      background: #f1f1f1;
    }

    input[type=text]:focus,
    input[type=password]:focus {
      background-color: #ddd;
      outline: none;
    }

    hr {
      border: 1px solid #f1f1f1;
      margin-bottom: 20px;
    }

    .registerbtn {
      @extend %button;
      width: 100%;
      color: $backgroundColorLogo;
      padding: 7px;

    }

    .registerbtn:hover {
      opacity: 1;
    }

    .login {
      padding: 10px 0;
      background-color: #f1f1f1;
      text-align: center;
    }
  }

  &__list::after {
    content: "";
    flex: auto;
    margin-right: auto;
  }
}